.box {
	width: 800px;
	height: 400px;
	padding: 60px;
	border: 4px solid rgb(246, 47, 47);
	margin: 50px;
}

.content {
	font-size: 48px;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}