@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  place-items: center;
  background: #456ABD;
  width: 100%;
  transition: background 0.3s ease;
}
.container{
  position: relative;
  height: 500px;
  width: 380px;
  background: #fff;
  overflow: hidden;
  box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
  transition: all 0.3s ease;
}
.container:hover{
  box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
}
.container .image{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}
.container:hover .image img{
  transform: scale(1.1);
}
.container .card-content{
  position: relative;
  height: 100%;
  width: 100%;
}
.card-content .wrapper{
  position: absolute;
  bottom: -100%;
  width: 100%;
  background: #fff;
  padding: 10px 25px;
  box-shadow: -1px -1px 6px rgba(0,0,0,0.1);
  transition: bottom 0.3s ease;
}
.container:hover .card-content .wrapper{
  bottom: 0px;
}
.wrapper .title{
  font-size: 22px;
  font-weight: 500;
}
.wrapper p{
  font-size: 17px;
  color: grey;
}
.wrapper .price{
  position: absolute;
  top: 10px;
  right: 30px;
  font-size: 23px;
  font-weight: 600;
  color: #456ABD;
}
.wrapper .content{
  margin: 10px 0;
}
.wrapper .content .name{
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
}
.wrapper .content .size-value{
  width: 50%;
  display: flex;
  margin: 5px 0;
  justify-content: space-between;
}
.content .size-value span{
  display: block;
  height: 28px;
  width: 28px;
  text-align: center;
  line-height: 28px;
  border-radius: 50%;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  color: #456ABD;
}
.content .size-value span.active{
  background: #456ABD;
  color: #fff;
}
.content .colour-value{
  width: 30%;
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
}
.content .colour-value span{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  position: relative;
}
.content .colour-value span.white{
  background: lightgrey;
}
.content .colour-value span.blue{
  background: #456ABD;
}
.content .colour-value span.yellow{
  background: #EAA523;
}
.content .colour-value span.active:after{
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: -4px;
  top: -4px;
  box-sizing: border-box;
  border: 2px solid #456ABD;
  border-radius: 50%;
}
.content .colour-value span.white.active:after{
  border-color: lightgrey;
}
.content .colour-value span.yellow.active:after{
  border-color: #EAA523;
}
.wrapper .btns{
  display: flex;
  height: 80px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.wrapper .btns button{
  height: 40px;
  width: 100%;
  margin: 0 10px;
  border: 2px solid #456ABD;
  background: #456ABD;
  outline: none;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
