/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
.wrapper
{
    height: 660px;
    width: 1350px;
}
header
{
    height: 150px;
    width: 1900px;
    background-color: black;
}
section
{
    height: 850px;
    width: 1900px;
    background-color: gray;
}
.logo
{
    float: left;
    padding-left: 20px;
}
footer
{
   
    width: 1900px;
    background-color: black;
}
li a
{
    color: white;
    text-decoration: none;
}
/*
nav
{
    float: right;
    word-spacing: 30px;
    padding: 20px;

}
nav li
{
    display: inline-block;
    line-height: 80px;
}*/
section .sec_img
{
    height: 850px;
    margin-top: 0px;
    background-image: url("images/2.jpg"); 
}
.box
{
    height: 300px;
    width: 400px;
    background-color: #030002;
    margin: 70px auto;
    opacity: .6;
    color: white;
}
 .box5
        {
            height: 600px;
            width: 500px;
            background-color: black;
            margin: 0px auto;
            opacity: .8;
            color: white;
            padding: 20px;
            padding-top: 140px;
        }
.log_img
{
    height: 950px;
    margin-top: -20px;
    background-image: url("images/4.jpg"); 
}


form .login
{
    margin: auto 70px;
}
input
{
    height: 25px;
    width: 300px;
}

.regis_img
{
    height: 950px;
    margin-top:-20px;
    background-image: url("images/5.jpg");

}
.box2
{
    height: 650px;
    width: 500px;
    background-color: black;
    margin: 0px auto;
    opacity: .7;
    color: white;
    padding: 20px;
}
