* Type selector styles */
h1 {
  color: rgb(145, 36, 36);
}

p {
  font-size: 16px;
}

.text {
  color: rgb(212, 168, 25);
}

.heading {
  font-weight: bold;
}

#special-text {
  font-style: italic;
}

.text#special-text {
  color: rgb(78, 11, 52);
  font-size: 24px;
}
