body {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
}

.image-container {
    float: left;
    margin-right: 10px;
    position: relative;
}

.image-container img {
    width: 400px;
    height: 250px;
    border: 4px solid black;
}

.caption {
    position: absolute;
    bottom: 5px;
    left: 5px;
    background-color: lightgray;
    font-weight: bold;
    padding: 5px;
    box-sizing: border-box;
}

.text-wrap {
    word-wrap: break-word;
}

.right-image-container {
    float: right;
    margin-left: 10px;
    position: relative;
}

.right-image-container img {
    width: 400px;
    height: 250px;
    border: 4px solid black;
}

.right-caption {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: lightgray;
    font-weight: bold;
    padding: 5px;
    box-sizing: border-box;
}
