/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Montserrat);

/*basic reset*/
* {
	margin: 0;
	padding: 0;
}
body {
	background-color: rgb(64, 64, 64);
	font-family: montserrat, arial, verdana;
}
/*form styles*/
.msform {
	width: 400px;
	margin: 50px auto;
	text-align: center;
	position: relative;
}
.msform fieldset {
	background: white;
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;

	box-sizing: border-box;
	width: 80%;
	margin: 0 10%;

	/*stacking fieldsets above each other*/
	position: absolute;
}
/*inputs*/
.msform input {
	padding: 15px;
	border: 1px solid rgba(0, 0, 0, 0.05);
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	font-family: montserrat;
	color: #2c3e50;
	font-size: 13px;
}
.msform input.error,
.msform textarea.error {
	border-color: rgb(255, 99, 71);
}
/*buttons*/
.msform .action-button {
	width: 100px;
	background: rgb(64, 64, 64);
	font-weight: bold;
	color: white;
	border: 0 none;
	border-radius: 2px;
	cursor: pointer;
	padding: 10px 5px;
	margin: 10px 5px;
	transition: all 0.4s;
}
.msform .action-button:hover,
.msform .action-button:focus {
	box-shadow: 0 0 0 2px white, 0 0 0 3px rgb(255, 99, 71);
	background-color: rgb(255, 99, 71);
}
/*headings*/
.fs-title {
	font-size: 15px;
	text-transform: uppercase;
	color: #2c3e50;
	margin-bottom: 10px;
}
.fs-subtitle {
	font-weight: normal;
	font-size: 13px;
	color: #666;
	margin-bottom: 20px;
}
/*progressbar*/
.progressbar {
	overflow: hidden;
	/*CSS counters to number the steps*/
	counter-reset: step;
	width: 60%;
	margin: 0 auto 30px;
}
.progressbar li {
	list-style-type: none;
	color: white;
	text-transform: uppercase;
	font-size: 9px;
	width: 33.33%;
	float: left;
	position: relative;
}
.progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 20px;
	line-height: 20px;
	display: block;
	font-size: 10px;
	color: #333;
	background: white;
	border-radius: 50%;
	margin: 0 auto 5px auto;
}
/*progressbar connectors*/
.progressbar li:after {
	content: "";
	width: 100%;
	height: 2px;
	background: white;
	position: absolute;
	left: -50%;
	top: 9px;
	z-index: -1; /*put it behind the numbers*/
}
.progressbar li:first-child:after {
	/*connector not needed before the first step*/
	content: none;
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
.progressbar li.active:before,
.progressbar li.active:after {
	background: rgb(255, 99, 71);
	color: white;
}
