h1 {
    font-family: Arial, sans-serif;
    font-size: 36px;
    color: #d60909;
  }
  
  p {
    font-family: Georgia, serif;
    font-size: 28px;
    line-height: 1.5;
    margin-bottom: 40px;
  }
  
  .large {
    font-size: 34px;
  }
  
  .italic {
    font-style: italic;
  }
  
  .underline {
    text-decoration: underline;
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  
  .blue {
    color: rgb(59, 207, 79);
  }
  