body,html {
  height: 100%;
}

body {
  padding-top: 50px;
}


#myBtn{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: green;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}
#myBtn:hover {
  background-color: darkgreen;
  color: white;
}

.wide {
  width:100%;
  height:100%;
  height:calc(100% - 1px);
  background-image:url('headerimg1.jpg');
  background-size:cover;
}

.wide img {
  width:100%;
  border-radius: 10px;

}

.tagline {
  text-align: center;
  font-size: 50px;
  color: white;
  text-shadow: 2px 2px 5px darkgrey;
  font-family: "Times New Roman";
  transform: translate(-50%, -50%);
  position: absolute;
  top: 40%;
  left: 50%;
}

.logo {
  color:#fff;
  font-weight:800;
  font-size:14pt;
  padding:25px;

  text-align:center;
}

.line {
  padding-top:20px;
  white-space:no-wrap;
  overflow:hidden;
  text-align:center;
  padding: 10px;
  border-width: 10px;
}

.orderblock{
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  margin-left: 5%;
  width: 90%;
  height: 200px;
  text-align: center;
}

.paragraph1{
  text-align: center;
  padding: 60px;
  font-family: "Times Roman New"
  font-size: 20px;
  background-color: black;
  color: white;
}




.wide2{
  width:100%;
  height: 100%;
  height:calc(100% - 1px);
}
.box{
  top: 10px;
  color:black;
    text-align:center;

}

.tickicon{
  color: green;
}



.bg-4{
  background-color: #2f2f2f;
  color: #ffffff;

}

footer{
  display: block;
}