.table1 thead tr th,
.table1 tbody tr td{
    text-align: center;
}

.table2 tr th,
.table2 tbody tr td{
    text-align: center;
}

.table3{
    text-align: center;
    height: 200px;
    
}

.table3 .blue{
    background-color: blue;
}

.table3 .red{
    background-color: red;
}

.table3 .green{
    background-color: green;
}

.table3 .yellow{
    background-color: yellow;
}

.table4{
    text-align: center;
}