body,html {
  height: 100%;
 }

body {
  padding-top: 50px;


}

#myBtn{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: green;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}
#myBtn:hover {
  background-color: darkgreen;
  color: white;
}

.bg-4{
  background-color: #2f2f2f;
  color: #ffffff;

}

footer{
  display: block;
}

.wide {
  width:100%;
  height:100%;
  height:calc(100% - 1px);
  background-image:url('headerimg3.jpg');
  background-size:cover;
}

.wide img {
  width:100%;
  border-radius: 10px;

}

.tagline {
  text-align: center;
  font-size: 50px;
  text-shadow: 2px 2px 10px black;
  color: white;
  font-family: "Times New Roman";
  padding-top: 12%;
}

.paragraph1{
  text-align: center;
  padding: 60px;
  font-family: "Sans serif";
  background-color: #DCDCDC;
}

.paragraph2 {
  background-color: #FAFAFA;
  padding: 10px 40px 60px;
  margin: 10px 0px 60px;
  border: 1px solid GREY;

 }

.goldcolor{
  color: #D4AF37;

}


.missionbox{
  border-radius: 25px;
  background-color: green;
  color: white;
  border: 2px solid yellow;
  box-shadow: 2px 2px 100px black;
  padding: 20px;
  margin-left: 5%;
  width: 90%;
  height: 120px;
  text-align: center;
}

.missionfont{
  font-size: 45px;
}

.paragraph3{
  text-align: center;
  padding: 60px;
  height: 250px;
  font-family: "Sans serif";
  background-color: #DCDCDC;
}

.darkgoldcolor{
  color: #996515;

}
  
  