/* -----------------------------------------------------------------------------

# All Common Styles

----------------------------------------------------------------------------- */
//Preload
.loader {
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1111;
  background: $white-color;
  overflow-x: hidden;
}

.loader-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
}

.circle {
  width: 8vmax;
  height: 8vmax;
  border-right: 4px solid #000;
  border-radius: 50%;
  -webkit-animation: spinRight 800ms linear infinite;
  animation: spinRight 800ms linear infinite;

  &:before {
    content: '';
    width: 6vmax;
    height: 6vmax;
    display: block;
    position: absolute;
    top: calc(50% - 3vmax);
    left: calc(50% - 3vmax);
    border-left: 3px solid $primary-color;
    border-radius: 100%;
    -webkit-animation: spinLeft 800ms linear infinite;
    animation: spinLeft 800ms linear infinite;
  }

  &:after {
    content: '';
    width: 6vmax;
    height: 6vmax;
    display: block;
    position: absolute;
    top: calc(50% - 3vmax);
    left: calc(50% - 3vmax);
    border-left: 3px solid $primary-color;
    border-radius: 100%;
    -webkit-animation: spinLeft 800ms linear infinite;
    animation: spinLeft 800ms linear infinite;
    width: 4vmax;
    height: 4vmax;
    top: calc(50% - 2vmax);
    left: calc(50% - 2vmax);
    border: 0;
    border-right: 2px solid #000;
    -webkit-animation: none;
    animation: none;
  }
}

@-webkit-keyframes spinLeft {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}

@keyframes spinLeft {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(720deg);
    transform: rotate(720deg);
  }
}

@-webkit-keyframes spinRight {
  from {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

@keyframes spinRight {
  from {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }

  to {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

//Extra Spacing
.mt-80 {
    margin-top: 80px;
    @include mq-down("tablet") {
    	margin-top: 50px;
    }
}
.mb-80 {
    margin-bottom: 80px;
    @include mq-down("tablet") {
    	margin-bottom: 50px;
    }
}
.mt-100 {
    margin-top: 100px;
    @include mq-down("tablet") {
    	margin-top: 80px;
    }
}
.mb-100 {
    margin-bottom: 100px;
    @include mq-down("tablet") {
    	margin-bottom: 80px;
    }
}
.mt-150 {
	margin-top: 150px;
	@include mq-down("tablet") {
    	margin-top: 100px;
    }
}
.mb-150 {
	margin-bottom: 150px;
	@include mq-down("tablet") {
    	margin-bottom: 100px;
    }
}

.pt-80 {
    padding-top: 80px;
    @include mq-down("tablet") {
    	padding-top: 50px;
    }
}
.pb-80 {
    padding-bottom: 80px;
    @include mq-down("tablet") {
    	padding-bottom: 50px;
    }
}
.pt-100 {
    padding-top: 100px;
    @include mq-down("tablet") {
    	padding-top: 80px;
    }
}
.pb-100 {
    padding-bottom: 100px;
    @include mq-down("tablet") {
    	padding-bottom: 80px;
    }
}
.pt-150 {
    padding-top: 150px;
    @include mq-down("tablet") {
    	padding-top: 100px;
    }
}
.pb-150 {
    padding-bottom: 150px;
    @include mq-down("tablet") {
    	padding-bottom: 100px;
    }
}

//Common Colors
.gray-bg {
	background-color: #f5f5f5;
}
.orange-text {
    color: $primary-color;
}
.blue-bg {
    background-color: #162133;
}

//Buttons
a.boxed-btn{
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    background-color: $primary-color;
    color: $white-color;
    padding: 10px 20px;
}

a.bordered-btn {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    color: $white-color;
    border: 2px solid $primary-color;
    padding: 7px 20px;
}
a.read-more-btn {
    display: inline-block;
    margin-top: 15px;
    color: $text-color;
    transition: 0.3s;
    font-weight: 700;
}
a.read-more-btn:hover {
    color: $primary-color;
}
a.boxed-btn, a.bordered-btn,  a.cart-btn{
    border-radius: 50px;
}

// Section Title
.section-title h3 {
    font-size: 40px;
    position: relative;
    padding-bottom: 15px;
}
.section-title h3:after {
    position: absolute;
    content: '';
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 50px;
    height: 2px;
    background-color: $primary-color;
    margin: 0 auto;
}

.section-title p {
    font-size: 15px;
    width: 530px;
    margin: 0 auto;
    color: #555;
    margin-top: 10px;
    line-height: 1.8;
}

.section-title {
    margin-bottom: 80px;
}

//Breadcrumb
.breadcrumb-bg {
  background-image: url(../img/breadcrumb-bg.jpg);
}

.breadcrumb-text {
  p {
    color: $primary-color;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 7px;
  }

  h1 {
    font-size: 50px;
    font-weight: 900;
    color: $white-color;
    margin: 0;
    margin-top: 20px;
  }
}

.breadcrumb-section {
  padding: 150px 0;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 1;
  background-attachment: fixed;

  &:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #07212e;
    z-index: -1;
    opacity: 0.8;
  }

  padding-top: 200px;
}