/* -----------------------------------------------------------------------------

# Hover Styles

----------------------------------------------------------------------------- */
a {
  &.navbar-brand {
    transition: 0.3s;

    &:hover {
      opacity: 0.7;
    }
  }

  &.boxed-btn {
    transition: 0.3s;

    &:hover {
      background-color: $text-color;
      color: $primary-color;
    }
  }

  &.bordered-btn {
    transition: 0.3s;

    &:hover {
      background-color: $primary-color;
      color: $white-color;
    }
  }
}

ul.sub-menu {
  a {
    transition: 0.3s;
  }

  li:hover a {
    color: $primary-color;
  }
}

.single-tof-box {
  transition: 0.3s;

  &:hover {
    box-shadow: 0 0 80px #353535;
  }
}

a.video-play-btn {
  transition: 0.3s;

  &:hover {
    background-color: #333;
    color: $primary-color;
  }
}

.latest-news-bg {
  transition: 0.3s;
}

.single-latest-news:hover .latest-news-bg {
  opacity: 0.8;
}

a.tof-btn {
  i {
    transition: 0.3s;
  }

  &:hover {
    i {
      margin-left: 10px;
    }

    color: $primary-color;
  }

  transition: 0.3s;
}

.single-latest-news {
  &:hover {
    box-shadow: 0 0 0;
    box-shadow: none;
  }

  box-shadow: 0 0 20px #dddddd;
  transition: 0.3s;
}

.single-logo-item {
  transition: 0.3s;

  &:hover {
    opacity: 0.7;
  }
}

.footer-box {
  &.pages ul li {
    a {
      transition: 0.3s;
    }

    &:hover a {
      color: $primary-color;
    }
  }

  &.subscribe form button {
    transition: 0.3s;

    &:hover {
      background-color: $primary-color;
      color: $text-color;
    }
  }
}

.social-icons ul li {
  &:hover a {
    color: $primary-color;
  }

  a {
    transition: 0.3s;
  }
}

ul.social-link-team li a {
  transition: 0.3s;

  &:hover {
    background-color: $text-color;
    color: $primary-color;
  }
}

.counter-box {
  transition: 0.3s;

  &:hover {
    box-shadow: 0 0 80px #6f6f6f;
  }
}

input[type="submit"] {
  transition: 0.3s;
  border-radius: 50px !important;

  &:hover {
    background-color: $text-color;
    color: $primary-color;
  }
}

div.owl-controls, .owl-controls div {
  transition: 0.3s;
}

div.owl-controls div.owl-nav div:hover {
  opacity: 0.7;
}

.pagination-wrap ul li {
  a {
    transition: 0.3s;
  }

  &:hover a {
    background-color: $primary-color;
  }
}

.icons a {
  i {
    transition: 0.3s;
  }

  &:hover i {
    color: $primary-color;
  }
}

.tof-text a.tof-btn {
  margin-top: 15px;
  display: inline-block;
}

.single-pricing-table {
  transition: 0.3s;

  &:hover {
    box-shadow: 0 0 20px #ddd;
  }
}

.product-image img {
  transition: 0.3s;

  &:hover {
    box-shadow: none;
  }
}

a.cart-btn {
  transition: 0.3s;

  &:hover {
    background-color: $text-color;
    color: $primary-color;
  }
}

.recent-posts ul li {
  transition: 0.3s;

  &:hover {
    opacity: 0.7;
  }
}

ul.sub-menu li {
  a {
    transition: 0.3s;
  }

  &:hover a {
    color: $primary-color !important;
  }
}

.sidebar-section ul li a {
  transition: 0.3s;

  &:hover {
    opacity: 0.7;
  }
}

.comment-text-body h4 a {
  transition: 0.3s;

  &:hover {
    color: $primary-color;
  }
}

ul.product-share li {
  a {
    transition: 0.3s;
  }

  &:hover a {
    color: $primary-color;
  }
}

.service-menu ul li a {
  &.active {
    font-weight: 600;
    color: #ffe200;
  }

  transition: 0.3s;

  &:hover {
    color: #ffe200;
  }
}

.single-product-item {
  &:hover {
    box-shadow: none;
  }

  transition: 0.3s;
}

.search-bar-tablecell button[type=submit] {
  transition: 0.3s;

  &:hover {
    background-color: $white-color;
    color: #000;
  }
}

span.close-btn {
  transition: 0.3s;

  &:hover {
    color: $white-color;
  }
}

a.mobile-show.search-bar-icon {
  transition: 0.3s;

  &:hover {
    color: $primary-color;
  }
}