// Base
@import "base/variables";
@import "base/mixins";
@import "base/typography";


// Common
@import "common/common";
@import "common/header";
@import "common/footer";
@import "common/hover";

// Sections
@import "sections/hero";
@import "sections/list";
@import "sections/news";
@import "sections/cart-banner";
@import "sections/testimonials";
@import "sections/about";
@import "sections/shop-banner";


// Pages
@import "pages/about";
@import "pages/contact";
@import "pages/shop";
@import "pages/404";