/* Type selector styles */
h1 {
    color: rgb(137, 129, 24);
  }
  
  p {
    font-size: 16px;
  }
  
  /* Class selector styles */
  .text {
    color: rgb(0, 247, 255);
  }
  
  .heading {
    font-weight: bold;
  }
  
  /* ID selector styles */
  #special-text {
    font-style: italic;
  }
  
  /* Specificity demonstration styles */
  .text#special-text {
    color: rgb(225, 0, 255);
    font-size: 24px;
  }