* {
  margin: 0;
}

body {
  padding: 50px 200px 50px 200px;
}

.paragraph > h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 3rem;
}

.paragraph > p {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.2rem;
  line-height: 1.4rem;
  text-align: justify;
}

.paragraph > hr {
  border-style: solid;
  color: red;
  border-width: 2px;
}

img {
  width: 450px;
  float: left;
  margin: 30px;
  border-style: solid;
  border-width: 5px;
}

#right {
  float: right;
}