/* Global Styles */
body {
	font-family: Arial, sans-serif;
	background-color: #9edf93;
}

header {
	background-color: #17cef3fe;
	color: #b84b4b;
	padding: 20px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	color: #252bf0;
	text-decoration: none;
}

main {
	padding: 20px;
}

footer {
	background-color: #e71919;
	color: #2c0616;
	padding: 10px;
	text-align: center;
}